.footer {
    color: var(--footer-text);
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    -webkit-background-size: 400% 400%;
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    border-radius: 20px 20px 0 0;
}

.footer .footer-text {
    color: var(--footer-text);
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
